{% extends "portfolio/base.html" %}
{% load static %}
{% block content %}
{% include "portfolio/header.html" %}
    <div class="container">
    <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 bg-primary text-center rounded details">
    <h1 class="text-white">{{ project.name }}</h1>
        <div class="imgList">
            {% for image in project.screenshot_set.all %}
                <a href="{{ image.screenshot.url }}" data-fancybox="images">
                    <img src="{{ image.screenshot_thumbnail.url }}" class="border border-primary"/>
                </a>
            {% empty %}
                <div class="alert alert-danger text-center" role="alert">
                    <h4>No screenshots to display</h4>
                </div>     
            {% endfor %}           
        </div>
        <div id="detail-tags">
            <h2 class="text-white">Technologies</h2>
            {% for tag in project.tags.all %}                                
                <a href="{% url 'tagged' tag.slug %}" class="badge text-primary project-badge" title="{{ tag.name }}">{{ tag.name }}</a>
            {% empty %}
                <a href="#" class="badge text-primary project-badge" title="No tags">No tags</a>
            {% endfor %}                
        </div>
        <div id="detail-description">
            <p class="text-white">{{ project.description }}</p>
        </div>
        <span>            
            <a class="btn btn-primary bg-white text-primary" id="github-btn" target="_blank" href="{{ project.URL }}" title="View on Github"><i class="fab fa-github fa-2x" aria-hidden="true"></i> View on Github</a>
        </span>        
    </div>
{% endblock %}
<div class="col-md-2"></div>
</div>
</div>