    {% extends "portfolio/base.html" %}    
    {% load static %}    
    {% block content %}
    {% include "portfolio/header.html" %}
        <h1>Main portfolio index current date/time: {{ portfolio_time }}</h1>
        <div class="container">
        <div class="row">                               
                {% for project in list_of_projects %}                
                <div class="col-md-4" id="project-entry">
                    <div class="card text-white bg-primary mb-3" id="project-card">
                        <a href="{% url 'detail' project.slug %}">
                            <img class="card-img-top img-fluid" alt="{{ project.name }} screenshot" src="{{ project.main_index_thumbnail.url }}" />
                        </a>
                        <div class="card-body">
                            <h3 class="card-title">{{ project.name }}</h3>
                            <p class="card-text">{{ project.description }}</p>                                
                                    {% for tag in project.tags.all %}                                
                                        <a href="{% url 'tagged' tag.slug %}" class="badge text-primary project-badge"  title="{{ tag.name }}">{{ tag.name }}</a>
                                    {% empty %}
                                        <a href="#" class="badge text-primary project-badge"  title="No tags">No tags</a>
                                    {% endfor %}                                                                                                
                        </div>
                        <div class="card-body">
                            <span>
                                <a class="btn btn-primary" id="github-btn" target="_blank" rel="noopener" href="{{ project.URL }}" title="View on Github"><i class="fab fa-github text-primary" aria-hidden="true"></i> View on Github</a>
                            </span>
                        </div>
                    </div>
                </div>                
            {% empty %}
            <div class="alert alert-danger text-center" role="alert">
                <h4>No projects to display</h4>
            </div>
            {% endfor %}
            </div>
            {% if is_paginated %}
                <ul class="pagination justify-content-center pagination-lg">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                {% endif %}
                {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="page-item active"><a class="page-link" href="?page={{ i}}">{{ i }}</a><span class="sr-only">(current)</span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                {% endif %}
                </ul>
            {% endif %}
        </div>    
    {% endblock %}