    {% extends "portfolio/base.html" %}
    {% load cache %}
    {% load static %}
    {% cache 3600 content %}
    {% block content %}
    {% include "portfolio/header.html" %}
        <h1>Main portfolio index Current date/time: {{ portfolio_time }}</h1>
        <div class="container">
        <div class="row">
            {% if list_of_projects %}
                {% for project in list_of_projects %}
                <div class="col-md-4" id="project-entry">
                    <div class="card" id="project-card">
                        <div class="card-header">
                        </div>
                        <a href="/{{ project.id }}">
                            <img class="card-img-top img-fluid" src="{% get_media_prefix %}{{ project.screenshot }}" />
                        </a>
                        <div class="card-block">
                            <h1 class="card-title">{{ project.name }}</h1>
                            <h3 class="card-text">{{ project.description }}</h3>
                        </div>
                        <div class="card-block">
                            <span>
                            <i class="fa fa-github fa-2x" aria-hidden="true"></i>
                            <a class="btn btn-primary" id="github-btn" target="_blank" href="{{ project.URL }}">View on Github</a>
                            </span>
                        </div>
                        <div class="card-footer">
                        </div>
                    </div>
                </div>



                {% endfor %}
            {% else %}
                <h1>No projects to display</h1>
            {% endif %}
        </div>
        </div>
    {% endblock %}
    {% endcache %}
