__pycache__/
env/
jtrobinson/settings.py
.vscode/settings.json
jtrobinson/media/*
jtrobinson/portfolio/static/img/*
jtrobinson/portfolio/media/*
jtrobinson/portfolio/migrations/
static/*
media/*
*.pyc