{% extends "homepage/base.html" %} {% load static %} {% block content %} {% include "homepage/header.html" %}
<div class="container">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8 text-center bg-primary" id="about">
            <h2>J.T. Robinson</h2>
            <h3>Full-Stack Web Developer</h3>
            <h5>Hi! I'm J.T. Robinson a full-stack web developer based in Charlotte, NC and I specialize in building web applications using the latest and most reliable open source technologies. My skills include HTML, CSS, Javascript, Python, PostgreSQL, MySQL and more. If you would like to contact me please feel free to complete the contact form <a href="{%url 'contact_form' %}">here</a> and I'll reply as soon as possible.</h5>
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <div class="row text-center rounded bg-primary" id="intro">
        <div class="col-md-4">
            <h4>Front-End</h4>
            <i class="fas fa-code fa-5x"></i>
            <h4>HTML, CSS, JS</h4>
        </div>
        <div class="col-md-4">
            <h4>Back-End</h4>
            <i class="fab fa-python fa-5x"></i>
            <h4>Python</h4>
        </div>
        <div class="col-md-4">
            <h4>Database</h4>
            <i class="fas fa-database fa-5x"></i>
            <h4>PostgreSQL</h4>
        </div>
    </div>
</div>
{% endblock %}