{% extends "resume/base.html" %}    
{% load static %}    
{% block content %}
{% include "resume/header.html" %}
<div class="container">
<div class="row">
<div class="col-md-2"></div>
<div class="col-md-8 bg-primary text-center resume">
<!-- <div id="description">
    <h4>Description</h4>    
        {% for resume in list_of_resumes %}
            <p>{{ resume.description }}</p>
        {% empty %}
        <div class="alert alert-danger text-center" role="alert">
            <h4>No resume to display</h4>
        </div>        
        {% endfor %}    
</div> -->
<div id="skills">
    <h4>Skills</h4>
    <ul>
        {% for skill in list_of_skills %}
            <li>{{ skill.skill_name }}</li>
        {% endfor %}
    </ul>
</div>
<div id="experience">
    <h4>Experience</h4>
    <ul>
        {% for experience in list_of_experience %}
            <li>{{ experience.job_title }}</li>
            <p>{{ experience.job_description }}</p>
        {% endfor %}
    </ul>
</div>
<div id="education">
    <h4>Education</h4>
    <ul>
        {% for education in list_of_education %}
            <li>{{ education.school_name }}</li>        
        {% endfor %}
    </ul>
</div>
</div>
{% endblock %}
<div class="col-md-2"></div>
</div>
</div>