* {
    font-family: 'PT Sans', sans-serif;
}

body {
    background-image: url('bruce-solid-hardwood-shd3500-64_1000.jpg');
}

h1 {
    text-align: center;
    padding: 20px;
}

.navbar {
    background: linear-gradient(to right, silver, white);
}

.navbar-brand {
    font-size: 24pt;
    color: white;
}

#project-entry {
    padding-top: 30px;
    text-align: center;
}

#project-entry img {
    padding-bottom: 20px;
}

#project-card {
    box-shadow: 10px 10px 5px #888888;
    margin-bottom: 20px;
}

#project-card:hover {
    bottom: 20px;
}

.card-header, .card-footer {
    background-image: url('metal.jpg');
}

#github-btn {
    margin-bottom: 20px;
}
