* {
    font-family: 'Roboto', sans-serif;    
}

body, html {
    height: 100%;   
    background-image: url("../img/web-design-2038872_1920-bw.jpg");    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;     
}

@media (max-width: 800px) {
    body, html {
        background-image: url("../img/web-design-2038872_1920-bw.jpg");     
        background-position: center;
        background-repeat: repeat-y;
        background-size: cover;          
    }
} 

h1 {
    text-align: center;
    padding-top: 2.0em;
    padding-bottom: 1.0em;
    font-weight: 700;    
}

.navbar-brand {
    font-family: 'Qwigley', cursive;
    font-size: 30pt;
}

.card-body a {
    color: white;
}

#project-entry {
    padding-top: 30px;
    text-align: center;    
}

#project-entry img {
    padding-top: 2.0em;
    padding-bottom: 2.0em;
    width: 85%;
}

#project-card {
    margin-top: 5.0em;
    box-shadow: 10px 10px 5px #070000;
    margin-bottom: 2.0em;    
}

.project-badge {    
    background-color: white;    
}

#tech-list {
    display: inline;
}

#github-btn {
    margin-bottom: 2.0em;    
}

.pagination {
    margin-top: 3.0em;
}

.details {
    margin-top: 4.0em;
    box-shadow: 10px 10px 5px #070000;
    border-style: ridge;   
}

.imgList {
    padding-bottom: 2.0em;
}

#detail-tags {
    font-size: 2.0em;
}

#detail-description {
    padding-top: 2.0em;   
}