* {
    font-family: 'Roboto', sans-serif;
    color: white;
}

body, html {
    height: 100%;   
    background-image: url("../img/web-design-2038872_1920-bw.jpg");     
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}

@media (max-width: 800px) {
    body, html {
        background-image: url("../img/web-design-2038872_1920-bw.jpg");     
        background-position: center;
        background-repeat: repeat-y;
        background-size: cover;          
    }
} 

h1 {
    text-align: center;
    padding: 2.0em;
}

.navbar-brand {
    font-family: 'Qwigley', cursive;
    font-size: 30pt;
}

#project-entry {
    padding-top: 30px;
    text-align: center;    
}

#project-entry img {
    padding-top: 2.0em;
    padding-bottom: 2.0em;
    width: 85%;
}

#project-card {
    box-shadow: 10px 10px 5px #070000;
    margin-bottom: 2.0em;
}

.card-text, .card-title {
    color: #0070FF;
}

#tech-list {
    display: inline;
}

#github-btn {
    margin-bottom: 2.0em;
}

.imgList {
    padding-bottom: 2.0em;
}

#detail-tags {
    font-size: 2.0em;
}

#detail-description {
    padding-top: 2.0em;   
}

#about {
    margin-top: 5%;
    margin-bottom: 10%;
    padding-top: 2.0em;
    padding-bottom: 2.0em;
}

#intro {
    padding-top: 2.0em;
    padding-bottom: 2.0em;

}

#contact-form {
    margin-top: 5%;
    padding-top: 2.0em;
    padding-bottom: 2.0em;       
}
