* {
    font-family: 'Roboto', sans-serif;
    color: white;
}

body, html {
    height: 100%;   
    background-image: url("../img/web-design-2038872_1920-bw.jpg");     
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}

@media (max-width: 800px) {
    body, html {
        background-image: url("../img/web-design-2038872_1920-bw.jpg");     
        background-position: center;
        background-repeat: repeat-y;
        background-size: cover;          
    }
} 

h1 {
    text-align: center;
    padding: 2.0em;
}

.navbar-brand {
    font-family: 'Qwigley', cursive;
    font-size: 30pt;
}

#about {
    margin-top: 4.0em;
    margin-bottom: 5.0em;
    padding-top: 2.0em;
    padding-bottom: 2.0em;
    box-shadow: 10px 10px 5px #070000;
    border-style: ridge;
}

#about a {
    color: white;
    text-decoration: underline;
}

#intro {
    padding-top: 2.0em;
    padding-bottom: 2.0em;
    box-shadow: 10px 10px 5px #070000;
    border-style: ridge;
}

#contact-form {
    margin-top: 2.0em;
    padding-top: 2.0em;
    padding-bottom: 2.0em;   
    box-shadow: 10px 10px 5px #070000;
    border-style: ridge;    
}