* {
    font-family: 'Roboto', sans-serif;
    color: white;
}

body, html {
    height: 100%;    
    background-image: url("../img/web-design-2038872_1920-bw.jpg");    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;        
}

@media (max-width: 800px) {
    body, html {
        background-image: url("../img/web-design-2038872_1920-bw.jpg");     
        background-position: center;
        background-repeat: repeat-y;
        background-size: cover;          
    }
} 

h1 {
    text-align: center;
    padding: 2.0em;
}

ul {
    list-style-type: none;
}

.navbar-brand {
    font-family: 'Qwigley', cursive;
    font-size: 30pt;
}

.resume {
    margin-top: 5%;        
}

.resume ul li {
    margin-left: -2.5em;
}

.resume h4 {
    text-decoration: underline;
}
